body {
  margin: 0 1rem;
  font-family: Helvetica, Arial, sans-serif;

  --border-color: #d0d7de;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #0d1117;
    color: #e6edf3;
    --border-color: #30363d;
  }
  a {
    color: #4493f8;
  }
  .blob {
    background: #161b22;
  }
}

a {
  text-decoration: none;
}

header, .box {
  margin: 1rem 0;
  border: 1px solid var(--border-color);
  padding: .5rem;
}

footer {
  margin-top: 1rem;
  text-align: center;
}

.icon {
  height: 1lh;
  vertical-align: text-bottom;
}

.repo {
  margin-bottom: 1rem;
  font-size: 120%;
  font-weight: bold;
}

.branch {
  display: inline-block;
  margin-right: 1rem;
  padding: .2rem;
  border: 1px solid var(--border-color);
}

.description {
  margin-bottom: .2rem;
}

.count + .count {
  margin-left: 1rem;
}

pre.box {
  /* Instead of scrolling overflow for long lines, grow the box. */
  width: fit-content;
}
