:root {
  color-scheme: light dark;

  --body-background: light-dark(
    oklch(95% 0.01 250),
    oklch(20% 0.01 250)
  );

  --text-color: light-dark(
    oklch(5% 0.01 250),
    oklch(90% 0.01 250)
  );

  --border-color: light-dark(
    oklch(85% 0.01 250),
    oklch(40% 0.01 250)
  );

  --shade-background: light-dark(
    oklch(90% 0.01 250),
    oklch(30% 0.01 250)
  );

  --link-color: light-dark(
    oklch(50% 0.15 250),
    oklch(60% 0.15 250)
  );

  --pl-c: light-dark(#6e7781, #8b949e);
  --pl-c1: light-dark(#0550ae, #79c0ff);
  --pl-e: light-dark(#6639ba, #d2a8ff);
  --pl-en: light-dark(#0550ae, #d2a8ff);
  --pl-k: light-dark(#cf222e, #ff7b72);
  --pl-s: light-dark(#0a3069, #a5d6ff);
  --pl-v: light-dark(#953800, #ffa657);
}

body {
  margin: 0 1rem;
  font-family: Helvetica, Arial, sans-serif;
  background: var(--body-background);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border: 1px solid var(--border-color);
}

td {
  padding: .25rem;
  vertical-align: top;
  &:first-child {
    padding-left: .5rem;
  }
  &:last-child {
    padding-right: .5rem;
  }
}

nav {
  display: flex;
  > a {
    display: block;
    padding-right: .5rem;
    + a {
      padding-left: .5rem;
      border-left: 1px solid var(--border-color);
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

section {
  margin: 1rem 0;
}

.box {
  --box-padding: .5rem;

  margin: 1rem 0;
  border: 1px solid var(--border-color);
  padding: var(--box-padding);

  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }

  > header:first-child {
    margin: calc(-1 * var(--box-padding));
    margin-bottom: 0;
    padding: .5rem;
    border-bottom: 1px solid var(--border-color);
    font-weight: bold;
  }
}

footer {
  margin-top: 1rem;
  text-align: center;
}

.icon {
  height: 1lh;
  vertical-align: text-bottom;
}

@media (prefers-color-scheme: dark) {
  .icon {
    filter: brightness(0) invert(1);
  }
}

.repo {
  font-size: 120%;
  font-weight: bold;
}

.branch {
  display: inline-block;
  margin-right: 1rem;
  padding: .2rem;
  border: 1px solid var(--border-color);
}

.description {
  margin-bottom: .2rem;
}

.count + .count {
  margin-left: 1rem;
}

pre.box {
  /* Instead of scrolling overflow for long lines, grow the box. */
  width: fit-content;
}

.overview {
  overflow-wrap: break-word;
  &.box {
    --box-padding: 1rem;
  }

  a {
    text-decoration: underline;
  }

  h1, h2 {
    border-bottom: 1px solid var(--border-color);
  }

  img {
    max-width: 100%;
  }

  code {
    background: var(--shade-background);
  }
}

.timestamp {
  white-space: nowrap;
  font-size: .8rem;
}

.commit {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  + .commit {
    border-top: none;
  }
}

.commit-author {
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.commit-sha {
  align-self: center;
  font-size: 0.8rem;
}

/* TODO Strip permalinks? */
svg.octicon-link {
  display: none;
}

.pl-c { color: var(--pl-c); }
.pl-c1 { color: var(--pl-c1); }
.pl-e { color: var(--pl-e); }
.pl-en { color: var(--pl-en); }
.pl-k { color: var(--pl-k); }
.pl-s { color: var(--pl-s); }
.pl-v { color: var(--pl-v); }
.pl-ent { color: var(--pl-k); }
.pl-mh { font-weight: bold; color: var(--pl-en); }
.pl-bu { color: var(--pl-k); }
.pl-ii { color: var(--text-color); background-color: var(--pl-k); }
.pl-pds { color: var(--pl-s); }
.pl-smi { color: var(--text-color); }
