:root {
  color-scheme: light dark;

  --body-background: light-dark(
    oklch(95% 0.01 250),
    oklch(20% 0.01 250)
  );

  --text-color: light-dark(
    oklch(5% 0.01 250),
    oklch(90% 0.01 250)
  );

  --border-color: light-dark(
    oklch(85% 0.01 250),
    oklch(40% 0.01 250)
  );

  --shade-background: light-dark(
    oklch(90% 0.01 250),
    oklch(30% 0.01 250)
  );

  --link-color: light-dark(
    oklch(50% 0.15 250),
    oklch(60% 0.15 250)
  );
}

body {
  margin: 0 1rem;
  font-family: Helvetica, Arial, sans-serif;
  background: var(--body-background);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

body > header, .box {
  --box-padding: .5rem;

  margin: 1rem 0;
  border: 1px solid var(--border-color);
  padding: var(--box-padding);

  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }

  > header:first-child {
    margin: calc(-1 * var(--box-padding));
    margin-bottom: 0;
    padding: .5rem;
    border-bottom: 1px solid var(--border-color);
    font-weight: bold;
  }
}

footer {
  margin-top: 1rem;
  text-align: center;
}

.icon {
  height: 1lh;
  vertical-align: text-bottom;
}

@media (prefers-color-scheme: dark) {
  .icon {
    filter: brightness(0) invert(1);
  }
}

.repo {
  margin-bottom: 1rem;
  font-size: 120%;
  font-weight: bold;
}

.branch {
  display: inline-block;
  margin-right: 1rem;
  padding: .2rem;
  border: 1px solid var(--border-color);
}

.description {
  margin-bottom: .2rem;
}

.count + .count {
  margin-left: 1rem;
}

pre.box {
  /* Instead of scrolling overflow for long lines, grow the box. */
  width: fit-content;
}

.overview {
  overflow-wrap: break-word;
  &.box {
    --box-padding: 1rem;
  }

  a {
    text-decoration: underline;
  }

  h1, h2 {
    border-bottom: 1px solid var(--border-color);
  }

  img {
    max-width: 100%;
  }

  code {
    background: var(--shade-background);
  }

  /* TODO Strip permalinks? */
  svg.octicon-link {
    display: none;
  }
}
