body {
  margin: 0;
  padding: 1rem;
  font-family: Helvetica, Arial, sans-serif;
}

.icon {
  height: 1lh;
  vertical-align: text-bottom;
}

pre.blob {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  overflow-x: auto;
  font-family: monospace;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #0d1117;
    color: #e6edf3;
  }
  a {
    color: #4493f8;
  }
  .blob {
    border-color: #30363d;
    background: #161b22;
  }
}
